/* main text black color: #212121; */
/* accent blue color: #2196F3; */
/* hero text and adress white color: #FFFFFF; */
/* other text and function grey color: #757575; */
/* footer contacts opacity color: rgba(255, 255, 255, 0.6); */
/*   font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif; */
:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --description-text-color: #757575;
  --primary-bg-color: #ffffff;
  --portfolio-btn: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.section {
  padding: 94px 0 94px 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
h1,
h2,
h3,
p,
ul {
  margin: 0px;
}
/* header */
.page-header {
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.accent {
  color: var(--accent-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

.accent:hover,
.accent:focus {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.link.current {
  color: #2196f3;
}

.header-contact {
  color: var(--description-text-color);

  text-decoration: none;
}
.header-contacts .header-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.14;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-text-color);
}
.navi a {
  text-decoration: none;
}
.logo.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* 
.site-nav .item:last-child {margin-right: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}*/

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav.list {
  display: flex;
}
.site-nav {
  margin-left: 93px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.navi {
  display: flex;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* hero */
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  padding-top: 200px;
  margin-bottom: 30px;
}
.hero {
  background-color: #2f303a;
  text-align: center;
}

.btn.primary {
  font-family: inherit;
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  padding: 10px 32px;
  text-align: center;
  margin-bottom: 200px;
}
.primary:hover,
.prymary:focus {
  background-color: #188ce8;
  color: var(--primary-bg-color);
}
/* letter spacing to other body */
.peculiar,
.work,
.team,
.footer-contacts {
  letter-spacing: 0.03em;
}
.peculiar-titles {
  margin-bottom: 10px;
}

/* title center */
.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
}

/* peculiar */
.hide-it {
  display: none;
}
.peculiar-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.description {
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* flex peculiar list */
.peculiar.list {
  display: flex;
  margin: -15px;
}
.peculiar.list .item {
  width: 270px;
  margin: 15px;
}
/* .site-nav .item:not(:last-child) {
  margin-right: 30px;
} */

/* .peculiar .item:not(:last-child) {
  margin-right: 30px;
} */

/* work */

.work.section.container {
  padding-top: 0;
}
.work-img {
  display: block;
}
.work-list.list {
  display: flex;
  margin-top: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.function {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 30px;
}

.team-pht {
  display: block;
  margin-bottom: 30px;
}
.team-list.list {
  display: flex;
}
.team-item.item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  margin-top: 50px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* footer */
footer {
  background-color: #2f303a;
}

.accent-footer {
  color: var(--accent-text-color);
}

.logo-footer {
  color: var(--primary-bg-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 60px;
  margin-bottom: 20px;
}

.accent-footer:hover,
.accent-footer:focus {
  color: var(--primary-bg-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-text-color);
}
.logo-footer > .accent-footer {
  margin-bottom: 20px;
}
.geo {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.geo:hover,
.geo:focus {
  color: var(--accent-text-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}
.footer-contacts a {
  text-decoration: none;
  font-style: normal;
}
.address.list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-contacts.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* portfolio */
/* galery */
.main-porfolio {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}
.btn-filter {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--portfolio-btn);
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 56px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}

.portfolio.list .category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--description-text-color);
  width: 370px;
  padding: 0 24px 0 24px;
  padding-bottom: 20px;
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  width: 370px;
  padding: 0 24px 4px 24px;
}
.galery a {
  text-decoration: none;
}
.portfolio-img {
  display: block;
}
.button.list {
  display: flex;
  justify-content: center;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item .portfolio-border {
  background: #ffffff;
  width: 370px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio.list .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio.list .portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
